{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Eli's Page</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/about me.png') }}" alt="Python Development" height="400">
                    <div class="card-body">
                    <h5 class="card-title">Get to know <mark>Eli</mark></h5>
                    <p class="card-text">
                        <ol>
                            <li>I play football for del norte and I am the long snappper.</li>
                            <li>I have two brothers which are both in college. My oldest brother goes to school in Ohio and my brother thats a freshamn in college goes to school in Kentucky.</li>
                            <li>I am 16 years old and a junior in highschool. I am around 6 foot 3 inches.</li>
                            <li>I love to hangout with friends and go for a drive with my friends.</li>
                            <li>I am a really outgoing guy and love to make new friends and i am very friendly. I won't bite.</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/football.jpg') }}" alt="Flask Development" height="350">
                    <div class="card-body">
                    <h5 class="card-title">Support <mark>Del Norte Football</mark></h5>
                    <p class="card-text">
                        <ol>
                            <li>Head over to the del norte football website</li>
                            <li>Check out the football schedule for 2022 season</li>
                            <li>They have awesome merch</li>
                            <li>Come down every friday to support your Nighthawks</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">click here to go to website</a>
                    </div> 
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/pythondb.png') }}" alt="Backend and Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">How do you manage <mark>Persistent data</mark> with Python?</h5>
                    <p class="card-text">
                        <ol>
                            <li>A Database is an example of persistent data that is held on a computer.  Programming languages and frameworks allow you to store and retrive data.</li>
                            <li>SQL stands for Structured Query Language · SQL lets you access and manipulate databases and has become a long lasting development standard.</li>
                            <li>SQLAlchemy is the Python SQL toolkit and Object Relational Mapper (ORM) that gives application developers the full power and flexibility of SQL.</li>
                            <li>There are many newer and sometimes easier Database languages and frameworks.  Mongo, DynamoDB, Neo4J are Databases being used by students developers in last 3 years.</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}